<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Sport Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav>
        <a href="{{ url_for('profile') }}">Mon Profil</a>
        {% if session.get('user_id') %}
        <a href="{{ url_for('recap') }}">Tableau de bord</a>
        <a href="{{ url_for('form') }}">Ajouter un Exercice</a>
        <a href="{{ url_for('logout') }}" class="nav-logout">Déconnexion</a>
        {% else %}
        <a href="{{ url_for('login') }}" class="nav-login">Connexion Admin</a>
        {% endif %}
    </nav>

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="flash flash-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>
</body>

</html>